run:
    experiment_name: Predictor WMT20 EN-DE
    seed: 42
    use_mlflow: false

trainer:
    gpus: -1
    epochs: 10

    log_interval: 100

    checkpoint:
        validation_steps: 0.2
        early_stop_patience: 10

defaults:
    - data: wmt20.qe.en_de

system:
    class_name: Predictor

    num_data_workers: 4
    batch_size:
        train: 32
        valid: 32

    model:
        encoder:
            encode_source: false
            hidden_size: 400
            rnn_layers: 2
            embeddings:
                source:
                    dim: 200
                target:
                    dim: 200
            out_embeddings_dim: 200
            share_embeddings: false
            dropout: 0.5
            use_mismatch_features: false

    optimizer:
        class_name: adam
        learning_rate: 0.001
        learning_rate_decay: 0.6
        learning_rate_decay_start: 2

    data_processing:
        vocab:
            min_frequency: 1
            max_size: 60_000
